name: prometheus-grafana-lab
services:
  node-exporter:
    container_name: node-exporter
    image: quay.io/prometheus/node-exporter
    networks:
      - ironhack
    ports:
      - 9100:9100

  python-exporter:
    container_name: python_app
    build:
      context: python_exporter
      dockerfile: Dockerfile
    networks:
      - ironhack
    ports:
      - 8000:8000

  custom-exporter:
    container_name: custom_exporter
    build:
      context: custom_exporter
      dockerfile: Dockerfile
    networks:
      - ironhack
    ports:
      - 8001:8001

  prometheus:
    container_name: prometheus
    image: prom/prometheus
    networks:
    - ironhack
    ports:
      - 9090:9090
    volumes:
      - "./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"

networks:
  ironhack:
